@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Gaegu&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gaegu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Atma;
}
